@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Roboto', sans-serif;
}

.cart-in{
    -webkit-animation: slideIn 1s;
    -moz-animation: slideIn 1s;
    animation: slideIn 1s; 
}

.cart-out{
  -webkit-animation: slideOut 1s;
  -moz-animation: slideOut 1s;
    animation: slideOut 1s; 
}

@-webkit-keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}
@-moz-keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(900px);
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(900px);
  }
}

@-webkit-keyframes slideIn {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @-moz-keyframes slideIn {
    0% {
      transform: translateX(900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideIn {
    0% {
      transform: translateX(900px);
    }
    100% {
      transform: translateX(0);
    }
  }